<section class="formacao">
    <div class="container">
        <div class="formacao__header">
            <h2 class="title">{{ languageId === 'PT' ? 'Formação Acadêmica' : 'Academic education' }}</h2>

        </div>
        <div class="row">
            <div class="time-line">
                <mgl-timeline [toggle]="toggle" [alternate]="alternate" [side]="side">
                    <mgl-timeline-entry *ngFor="let entry of entries; let i = index;"
                        (expand)="onExpandEntry($event, i)">
                        <mgl-timeline-entry-header (click)="onHeaderClick($event)">
                            <div class="title">{{ languageId === 'PT' ? entry.header : entry.headerEN}}</div>
                        </mgl-timeline-entry-header>
                        <mgl-timeline-entry-content [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'"
                            [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'">
                            <div>
                                <div class="company">
                                    <img src={{entry.logo}} alt="">
                                    <a href={{entry.link}} target="_blank">{{entry.company}}</a>
                                </div>
                                <div class="cursos" *ngFor="let item of entry.cursos">
                                    <ul>
                                        <li>{{item.udemy}}</li>
                                    </ul>
                                </div>
                                <div class="periodo">{{entry.periodo}}</div>
                            </div>
                        </mgl-timeline-entry-content>
                        <mgl-timeline-entry-dot [class]="color ? 'primary' : 'accent'" [size]="size"
                            (click)="onDotClick($event)" [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
                            [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"></mgl-timeline-entry-dot>
                        <mgl-timeline-entry-side class="years">{{ languageId === 'PT' ? entry.years : entry.yearsEN }}
                        </mgl-timeline-entry-side>
                    </mgl-timeline-entry>
                </mgl-timeline>


            </div>
        </div>
    </div>
</section>