@import "../../sass/variables";

.main {
    width: 100%;
    &__img {
        background-image: url("https://i.ibb.co/dGVCcTt/main-banner.png");
        position: relative;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
    }
    &__color {
        background-color: rgba(24, 23, 22, 0.7);
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &::before {
            content: " { ";
            position: absolute;
            left: 32%;
            font-size: 8em;
            color: $blue;
            // bottom: 29%;
            @media screen and (max-width: 800px) {
                left: 25%;
            }
            @media screen and (max-width: 1024px) {
                left: 25%;
            }
            @media screen and (max-width: 1280px) {
                left: 25%;
                bottom: 39%;
            }
            @media screen and (max-width: 1440px) {
                left: 34%;
            }
            @media screen and (max-width: 1600px) {
                left: 37%;
                bottom: 30%;
            }
            @media screen and (min-width: 1366px) {
                bottom: 32%;
                bottom: 30%;
            }
        }
        &::after {
            content: " } ";
            position: absolute;
            right: 32%;
            font-size: 8em;
            color: $blue;
            // bottom: 29%;
            @media screen and (min-width: 800px) {
                right: 28%;
                bottom: 30%;
            }
            @media screen and (min-width: 1024px) {
                right: 30%;
            }
            @media screen and (max-width: 1280px) {
                right: 29%;
            }
            @media screen and (max-width: 1366px) {
                right: 29%;
                bottom: 32%;
            }
            @media screen and (min-width: 1440px) {
                right: 32%;
                bottom: 29%;
            }
            @media screen and (min-width: 1600px) {
                right: 34%;
                bottom: 30%;
            }
        }
    }
    &__perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--description {
            text-align: center;

            img {
                border-radius: 50%;
                margin-bottom: 30px;
            }
            h1 {
                font-size: 26px;
                color: $white;
                text-align: center;
                font-weight: 900;
                margin-bottom: 30px;
                white-space: nowrap;
            }
            h2 {
                font-size: 20px;
                color: $white;
                text-align: center;
                margin-bottom: 30px;
                white-space: nowrap;
            }
        }

        .button {
            display: flex;
            justify-content: center;
            &__btn {
                background: transparent;
                color: $white;
                padding: 15px 30px;
                border: solid 1px $white;
                border-radius: 4px;
                font-family: $Poppins;
                transition: all 0.3s;
                position: absolute;
                &:hover {
                    background-color: $blue;
                    color: #000;
                    border: none;
                    transform: translate(0, -4px);
                    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
    &__menu {
        width: 100%;
        display: flex;
        position: absolute;
        top: 15px;
        flex-direction: column;
    }
}

.slideshow-container {
    margin-top: 15px;
    display: flex;
    position: absolute;
    bottom: 15px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    padding: 30px;
    width: 100%;
}

.mySlides {
    width: 50%;
    .title {
        font-size: 22px;
        font-family: $Poppins;
        color: $blue;
        margin-bottom: 10px;
        text-align: center;
        span {
            font-style: italic;
        }
    }
    .description {
        color: $white;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
    }
}

.animation {
    -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes slide-left {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@media screen and (max-width: 1440px) {
    .main {
        &__perfil {
            width: 180px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .main {
        &__perfil {
            &--description {
                margin-top: -50%;
                img {
                    margin-bottom: 20px;
                }
                h1 {
                    margin-bottom: 20px;
                }
                h2 {
                    margin-bottom: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .slideshow-container {
        padding: 0px 30px;
        .mySlides {
            width: 60%;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &__img {
            background-position: 46%;
        }
        &__color {
            &::before {
                left: 21%;
                bottom: 31%;
                font-size: 10em;
            }
            &::after {
                right: 21%;
                bottom: 31%;
                font-size: 10em;
            }
        }
        &__perfil {
            width: 280px;
            &--description {
                margin-top: 0%;
                img {
                    margin-bottom: 50px;
                }
                h1 {
                    margin-bottom: 50px;
                }
                h2 {
                    margin-bottom: 50px;
                }
            }
        }
        .slideshow-container {
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 600px) {
    .main {
        &__img {
            background-position: 79%;
        }
        &__color {
            &::before {
                left: 1%;
                bottom: 38%;
            }
            &::after {
                right: 1%;
                bottom: 38%;
            }
        }
        &__perfil {
            width: 200px;
            margin-top: -80px;
            &--description {
                margin-top: -49%;
                img {
                    margin-bottom: 20px;
                }
                h1 {
                    margin-bottom: 20px;
                }
                h2 {
                    margin-bottom: 20px;
                }
            }
        }
        .slideshow-container {
            padding: 0 10px 10vw;
            .mySlides {
                width: 100%;
                .title {
                    font-size: 18px;
                }
            }
        }
    }
}
