<div class="guideline">
    <div class="container">
        <div class="guideline__title">
            {{ languageId  === 'PT' ? 'Conhecimentos' : 'knowledge' }}
        </div>

        <ul class="knowledge">
            <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML/HTML5" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/K2LzyWJ/html.png" alt="html">
                    <p class="knowledge__item--description">HTML5</p>
                </li>
            </a>
            <a href="https://developer.mozilla.org/pt-BR/docs/Archive/CSS3" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/QrFchvv/css.png" alt="css">
                    <p class="knowledge__item--description">CSS3</p>
                </li>
            </a>
            <a href="https://sass-lang.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/0czS0Hd/sass.png" alt="sass">
                    <p class="knowledge__item--description">SASS</p>
                </li>
            </a>
            <a href="https://getbootstrap.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/ZTYRVFr/boot.jpg" alt="bootstrap">
                    <p class="knowledge__item--description">Bootstrap</p>
                </li>
            </a>
            <a href="https://br.wordpress.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/nbGZWty/wordpress.jpg" alt="wordpress">
                    <p class="knowledge__item--description">WordPress</p>
                </li>
            </a>
            <a href="https://developer.mozilla.org/pt-BR/docs/Aprender/JavaScript" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/xmf8byt/js.png" alt="JavaScrypt">
                    <p class="knowledge__item--description">Java Script</p>
                </li>
            </a>
            <a href="https://jquery.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/8jR5yt5/jq.png" alt="jquery">
                    <p class="knowledge__item--description">Jquery</p>
                </li>
            </a>
            <a href="https://nodejs.org/en/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/P6GG3sm/node.jpg" alt="node">
                    <p class="knowledge__item--description">Node</p>
                </li>
            </a>
            <a href="https://www.mysql.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/WD97R0q/mysql.png" alt="mysql">
                    <p class="knowledge__item--description">MySql</p>
                </li>
            </a>
            <a href="https://gulpjs.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/Dfn4qDT/gulp.png" alt="golp">
                    <p class="knowledge__item--description">Gulp</p>
                </li>
            </a>
            <a href="https://angular.io/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/DGxbLGN/angular.png" alt="angular">
                    <p class="knowledge__item--description">Angular</p>
                </li>
            </a>
            <a href="https://git-scm.com/" target="_blank">
                <li class="knowledge__item">
                    <img src="https://i.ibb.co/qmxd7sP/git.png" alt="git">
                    <p class="knowledge__item--description">Git</p>
                </li>
            </a>

        </ul>
    </div>
</div>